// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
  margin-bottom: 2em;

  &-heading {
    display: inline;
    vertical-align: middle;
  }

  &-edit {
    display:inline;
    vertical-align: middle;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
}